.sideSection {
	/* background: rgba(0,0,0,.03); */
	background: rgba(227,227,227,1);
	display: flex;
	flex-flow: column nowrap;
	align-items: flex-start;
	justify-content: flex-start;
	width: 20%;
	min-height: 100%;
	float: left;
	position: fixed;
	padding: 20px;
	box-sizing: border-box;
}

.mainSection {
	/* z-index: 20; */
	float: right;
	width: 80%;
	position: absolute;
	height: 100%;
	margin-left: 20%;
}

.wholeScreen {
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: stretch;
	/* position: fixed; */
	float: left;
}

.transTop {
	width: 80%;
	height: 80px;
	background: rgba(245,245,245,0.4);
	padding: 10px 25px 10px 25px;
	box-sizing: border-box;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	-webkit-backdrop-filter:blur(10px);
	position: fixed;
	z-index: 2;
}

.transTop h3 {
	margin-bottom: 6px;
	font-size: 1em;
	font-weight: 600;
	color: #30ADA2;
}

.transTop h1 {
	font-size: 2em;
	margin-bottom: 0px;
	font-weight: 800;
}

.transTop div {
	display: flex;
	flex-flow: column nowrap;
	align-items: flex-start;
	justify-content: flex-start;
}

.searchButton {
	background: url(../media/search.svg) no-repeat;
	height: 25px;
	width: 25px;
	background-position: center;
	background-size: cover;
	border: none;
	cursor: pointer;
	transition: .4s;
}

.mainContent {
	box-shadow: 0 0 20px 0 rgba(0,0,0,.12);
	width: 100%;
	min-height: 100%;
	/* overflow-y: auto; */
	padding: 120px 20px 20px 20px;
	box-sizing: border-box;
	position: absolute;
	background: rgba(245,245,245,1);
	flex-flow: row wrap;
	display: flex;
	align-items: flex-start;
	justify-content: space-evenly;
}

.file {
	height: 200px;
	width: 160px;
	border-radius: 8px;
	padding: 10px;
	box-sizing: border-box;
	overflow: hidden;
	background: white;
	cursor: pointer;
	margin: 15px;
	/* border: 1px solid rgb(230,230,230); */
	display: flex;
	flex-flow: column wrap;
	justify-content: flex-end;
	box-shadow: 0px 4px 10px 0px rgba(0,0,0,.12);
	transition: .4s;
}

.file[aria-selected=true] {
	background-color: red;
}

.file:hover {
	box-shadow: 0px 8px 15px 1px rgba(0,0,0,.16);
}

.file p:first-child {
	font-weight: 600;
	margin-bottom: 10px;
}

.file p:last-child {
	font-size: 0.7em;
	color: rgb(100,100,100);
}

#searchInput {
	border: none;
	padding: 5px;
	background: none;
	font-size: 0.9em;
	transition: .4s;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	border-radius: 0px;
	width: 100%;
	margin: 20px 0px 10px 0px;
	background: url(../media/search.svg) no-repeat;
	background-size: 16px;
	background-position: left 5px center;
	padding-left: 20px;
	box-sizing: border-box;
}

.hidei {
	width: 0px !important;
	transition: .4s;
}

.menu {
	display: flex;
	flex-flow: column nowrap;
	align-items: flex-start;
	justify-content: flex-start;
	width: 100%;
}

.menu a {
	margin: 5px;
	color: rgb(80,80,80);
}

.editorSection {
	margin-top: 80px;
	position: fixed;
	width: 80%;
}

.editTop {
	height: 60px;
	background: white;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
	box-sizing: border-box;
}

.editTop div {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}

.editTop div button {
	margin-right: 10px;
}

.userPic {
	height: 40px;
	width: 40px;
	background: gray;
	border-radius: 20px;
}

.docTitle {
	border: none !important;
	background: none !important;
	margin: 0px !important;
	font-size: 1.9em !important;
	font-weight: 800 !important;
	color: #202020 !important;
	height: auto !important;
}

.ck.ck-toolbar {
	background: rgba(255,255,255,0);
}

.document-editor__toolbar {
	z-index: 1;
	box-shadow: 0 0 8px rgba(0,0,0,.2) !important;
	border: 1px solid rgba(0,0,0,.12) !important;
	/* border-top: 1px solid var(--ck-color-toolbar-border); */
	position: absolute;
	background: white;
	border-radius: 30px;
	cursor: move;
}

.document-editor__toolbar button {
	border-radius: 30px;
}

.document-editor__toolbar {
	z-index: 1;
	box-shadow: 0 0 5px hsla( 0,0%,0%,.2 );
	border-bottom: 1px solid var(--ck-color-toolbar-border);
}


.document-editor__toolbar .ck-toolbar {
	border: 0;
	border-radius: 0;
}

.document-editor {
	display: flex;
	flex-flow: column nowrap;
	overflow: hidden;
	position: absolute;
	width: 100%;
	height: calc(100% - 60px);
}

.document-editor__editable-container {
    padding: calc( 2 * var(--ck-spacing-large) );
    background: var(--ck-color-base-foreground);
    overflow-y: scroll;
}

.document-editor__editable-container .ck-editor__editable {
    width: 15.8cm;
    min-height: 21cm;
    padding: 1cm 2cm 2cm;
    border: 1px hsl( 0,0%,82.7% ) solid;
    border-radius: var(--ck-border-radius);
    background: white;
    box-shadow: 0 0 5px hsla( 0,0%,0%,.15);
    margin: 0 auto;
}

.document-editor .ck-content,
.document-editor .ck-heading-dropdown .ck-list {
    font: 16px/1.6 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.ck-rounded-corners .ck.ck-button, .ck-rounded-corners a.ck.ck-button, .ck.ck-button.ck-rounded-corners, a.ck.ck-button.ck-rounded-corners {
	border-radius: 80px !important;
}

.ck-rounded-corners .ck.ck-toolbar, .ck.ck-toolbar.ck-rounded-corners {
border-radius: var(--ck-border-radius);
cursor: move;
}

.ck-rounded-corners .ck.ck-toolbar, .ck.ck-toolbar.ck-rounded-corners {
border-radius: 30px !important;
background: white !important;
border: none !important;
z-index: 3 !important;
border: 1px solid rgba(0,0,0,.2)
}

.ck.ck-editor__editable:not(.ck-editor__nested-editable).ck-focused {
outline: none;
border: none !important;
box-shadow: 0 0 5px hsla( 0,0%,0%,.15) !important;
}
