<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, maximum-scale=1.0">
    <title>Editor</title>
		<link rel="stylesheet" href="../css/generalDesign.css">
		<link rel="stylesheet" href="../css/texter.css">
		<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/10.0.1/decoupled-document/ckeditor.js"></script>
</head>
<body>
	<div class="editTop">
		<div>

		</div>
		<div>
			<img src="" alt="">
		</div>
		<input type="text" value="New Document" class="docTitle">
	</div>
		<div class="document-editor">
		    <div class="document-editor__toolbar" id="toolbar"></div>
		    <div class="document-editor__editable-container">
		        <div class="document-editor__editable">
		            <p>The initial editor data.</p>
		        </div>
		    </div>
		</div>

	<script>
	$( function() {
		$( "#toolbar" ).draggable();
	} );

	    DecoupledEditor
	        .create( document.querySelector('.document-editor__editable'), {
	    			toolbar: [ 'heading', 'bold', 'italic', 'bulletedList', 'numberedList', 'blockQuote', 'link' ],

					} )


	        .then( editor => {
	            const toolbarContainer = document.querySelector( '.document-editor__toolbar' );

	            toolbarContainer.appendChild( editor.ui.view.toolbar.element );
	        } )
	        .catch( error => {
	            console.error( error );
	        } );
	</script>
</body>
<style>

</style>
</html>
